*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    background: #fbd7d7;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 250px;
    height: 40px;
    background: rgb(251, 250, 251);
    color: rgb(7, 7, 7);
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
}
button:before{
    content: "";
    width: 0%;
    height: 3px;
    background: rgb(10, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.25s ease-in;
}
button:after{
    content: "";
    width: 0%;
    height: 3px;
    background: rgb(9, 0, 0);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: width 0.25s ease-in;
}
button:hover:before,
button:hover:after{
    width: 100%;
}